.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

    .active, .accordion:hover {
        background-color: #ccc;
    }

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

body {
    background-image: url('./img/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
}


.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}

#buttonHraci {
    width: 100%;
    height: 100px;
    background-color: lightsteelblue;
}

#buttonHraci:hover{
    background-color: lightblue;
}

.active {
    background-color: lightsteelblue;
}

.nav-link{
    border-radius: 10px;
    margin-right: 20px;
}

.active:hover{
    background-color: lightblue;
}

#login{
    background-color: lightsteelblue;
}

#login:hover{
    background-color: lightblue;
}

#signup{
    background-color: lightsteelblue;
}

#signup:hover{
    background-color: lightblue;
}

.card:hover{
	box-shadow: 10px 10px 5px #aaaaaa;
	transform: scale(1.1, 1.1);
}

.card:active{
	transform: translateY(15px) scale(1.1, 1.1);
}

.card-body{
    background-color: lightsteelblue;
}

